.GiantCoin_Circle_Container{
}

.GiantCoin_Circle_Outer{
    background-color: rgb(175, 144, 4);
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    right:200px;
    box-shadow: 0px 0px 0px 5px rgb(243, 216, 63);
}



