.Hero{
    width: 100vw;
    height: 80vh;
    background-color: black;
}
.Hero_Backdrop{
    width: 100%;
    height: 120%;
    filter: drop-shadow(0 0 3rem rgb(0, 0, 0));
}
.Hero_Backdrop::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(75deg,rgb(107, 57, 160),rgb(44, 9, 173),rgb(131, 7, 247),rgb(168, 25, 204));
    clip-path: polygon(65% 5%, 50% 5%, 10% 90%, 26% 95%, 48% 50%, 47% 67%, 54% 68%, 70% 50%, 55% 95%, 70% 100%, 100% 5%, 85% 5%, 66% 40%, 60% 40%);
    z-index: 0;
    animation: animate_text_Two 2000ms forwards;
}
/*Position all hero children with z-index of 10 */
.Hero > *{
    position: relative;
    z-index: 10;
}
/*
#Hero_video{
    width: 98%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    filter: blur(5px) contrast(500%);
}
*/
/*Styling for everything on top of the hero background video */
.Hero_Container{
    display: flex;
    flex-direction: column;
}

.Hero h1{
    color: white;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    margin: 0;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

/*Everything for Column 1 starts here*/
.Hero_Col_1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Hero_TextAnimation_One span span {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: -1em;
    opacity: 0;
    animation: animate_text_One 400ms forwards;
    font-size: clamp(1rem, 3vw, 3rem);
}

.Hero_TextAnimation_Two{
    font-size: clamp(3.25rem, 8vw, 20rem);
    animation: animate_text_Two 2000ms forwards;
    transform: scale(1.25);
    float: left;
    line-height: 99%;
}
.Hero_Button_Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.Hero_Button{
    font-size: 8px;
    padding: 0 0.5rem;
    padding-left: 0.50rem;
    background-color: var(--secondary-color);
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.25rem;
    border-radius: 30px;
    animation: animate_text_Two 2000ms forwards;
}
.Hero_Button h2{
    margin: 0.25rem 0.25rem;
    font-weight: normal;
}
.Hero_Button:hover{
    background-color: rgb(3, 3, 131);
}

.Hero_Button:hover .Hero_ArrowIcon{
    animation: movingArrow 500ms ease-in-out infinite;
}
.Hero_ArrowIcon{
    font-size: 12px;
}

/*
-Column 1 styling ends here
-Column 2 styling starts here
*/
.Hero_Col_2{
    width: 100%;
    display: none;
 }
 .Hero_Col_2::after{
     
     position: absolute;
     bottom: 0;
     height: 1%;
     width: 15%;
     box-shadow: 0px 25px 25px black,0px 40px 40px black,0px 60px 60px black;
     animation: coin_rotation 5000ms linear infinite;
     
 }
 .Hero_Col_2 img{
    animation: coin_rotation 5000ms linear infinite;
 }

 @keyframes coin_rotation {
     0%{
         transform:  perspective(1000px) rotateY(0deg);
     }
     100%{
         transform:  perspective(1000px) rotateY(360deg);
     }
 }
 
  @keyframes animate_text_One {
      0% {
          bottom: -0.2em;
          opacity: 1;
      }
      
      50% {
          bottom: 0.2em;
      }
  
      100% {
          bottom: 0;
          opacity: 1;
      }
  }
  
  @keyframes animate_text_Two{
      0%{
          opacity: 0;
          transform: scale(1.25);
      }
      100%{
          opacity: 1;
          transform: scale(1);
      }
  }
  
  @keyframes movingArrow{
      0%{
          transform: translateX(0);
      }
      50%{
        transform: translateX(40%);
      }
      100%{
        transform: translateX(0);
      }
  }

  @media screen and (min-width: 700px) {
    .Hero_Button{
        font-size: 16px;
        padding: 0 1.5rem;
        margin: 0 1rem;
    }
    .Hero_ArrowIcon{
        font-size: 24px;
    }
    .Hero_Container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        padding: 1rem;
    }
    .Hero_Col_1{
        width: 50%;
    }
    .Hero_Col_2{
        display: flex;
        justify-content: center;
        width: 50%;
     }
  }
  